#include <VerRsrc.h>

VER VERSIONINFO
FILEVERSION 1,0,0,0
FILEFLAGSMASK (VS_FF_PRERELEASE|VS_FF_DEBUG|VS_FF_PRIVATEBUILD)
FILEFLAGS (VS_FF_PRERELEASE|VS_FF_DEBUG|VS_FF_PRIVATEBUILD)
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
PRODUCTVERSION 1,0,0,0
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "PrivateBuild", "K4R for internal use!"
		END
	END
END

#include "ui/MainMenu.rc"